<div
  class="modal fade"
  id="modalPagines"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="modalPagines">
          Número de Llenguatges
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body p-5">
        Afegeix les pàgines que tindrà el teu projecte. <br />
      </div>
    </div>
  </div>
</div>
