<div
  class="container modal fade"
  id="modalPagines"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header custom-header">
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body pb-5 text-center">
        <h1 class="modal-title fs-5 text-center mb-3" id="modalPagines">
          Número de Pàgines
        </h1>
        Afegeix les pàgines que tindrà el teu projecte. <br />
      </div>
    </div>
  </div>
</div>
