<div class="contaier shadow-sm">
  <div class="header position-relative text-center p-5">
    <h1
      class="position-absolute top-50 start-50 translate-middle text-black-75"
    >
      Aconsegueix la millor qualitat
    </h1>
    <img
      src="assets/header.png"
      alt="image_header"
      class="rounded-3 img-fluid w-100"
    />
  </div>
  <div class="general">
    <form [formGroup]="pressupostForm" class="p-3">
      <div class="mb-3">
        <div
          class="form-check border rounded-3 p-4 shadow-lg d-flex justify-content-between align-items-center"
        >
          <div class="max-desc">
            <h3>Seo</h3>
            <h6 class="">Programació d'una web responsive Completa</h6>
          </div>
          <h2>300€</h2>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              formControlName="Seo"
            />
            <label class="form-check-label" for="pres-seo">Afegir</label>
          </div>
        </div>
      </div>
      <div class="mb-3">
        <div
          class="form-check border rounded-3 p-4 shadow-lg d-flex justify-content-between align-items-center"
        >
          <div class="max-desc">
            <h3>Ads</h3>
            <h6 class="">Programació d'una web responsive Completa</h6>
          </div>
          <h2>400€</h2>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              formControlName="Ads"
            />
            <label class="form-check-label" for="pres-seo">Afegir</label>
          </div>
        </div>
      </div>
      <div class="mb-3">
        <div
          class="form-check border rounded-3 p-4 shadow-lg d-flex justify-content-between align-items-center flex-wrap"
        >
          <div class="max-desc">
            <h3>Web</h3>
            <h6 class="">Programació d'una web responsive Completa</h6>
          </div>
          <h2>500€</h2>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              (change)="onEventChange()"
              formControlName="Web"
            />
            <label class="form-check-label" for="pres-web">Afegir</label>
          </div>

          <!-- @if (pressupostForm.get('web')?.value) { -->
          <div class="w-100 text-end">
            <app-panel (newItemEvent)="onExtresChange($event)"></app-panel>
          </div>
          <!-- } -->
        </div>
      </div>
      <div class="text-end mt-4 p-2">
        <h2>Preu pressupostat: {{ pressupostTotal }}</h2>
      </div>
    </form>
  </div>
</div>
