<div class="container shadow-sm">
  <div class="row">
    <div class="col-12">
      <div class="header position-relative text-center p-5">
        <h1 class="position-absolute top-50 start-50 translate-middle text-black-75">
          Aconsegueix la millor qualitat
        </h1>
        <img src="assets/header.png" alt="image_header" class="rounded-3 img-fluid w-100" />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 general">
      <form [formGroup]="pressupostForm" class="p-3">
        <div class="border rounded-3 p-4 shadow-lg d-flex justify-content-between align-items-center mb-3">
          <div class="max-desc">
            <h3>Seo</h3>
            <h6 class="">Programació d'una web responsive Completa</h6>
          </div>
          <h2>300€</h2>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" formControlName="Seo" id="pres-seo" />
            <label class="form-check-label" for="pres-seo">Afegir</label>
          </div>
        </div>
        <div class="form-check border rounded-3 p-4 shadow-lg d-flex justify-content-between align-items-center mb-3">
          <div class="max-desc">
            <h3>Ads</h3>
            <h6 class="">Programació d'una web responsive Completa</h6>
          </div>
          <h2>400€</h2>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" formControlName="Ads" id="pres-ads" />
            <label class="form-check-label" for="pres-ads">Afegir</label>
          </div>
        </div>
        <div
          class="form-check border rounded-3 p-4 mb-3 shadow-lg d-flex justify-content-between align-items-center flex-wrap">
          <div class="max-desc">
            <h3>Web</h3>
            <h6>Programació d'una web responsive Completa</h6>
          </div>
          <h2>500€</h2>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="pres-web" (change)="onEventChange()"
              formControlName="Web" />
            <label class="form-check-label" for="pres-web">Afegir</label>
          </div>
          @if (pressupostForm.value.Web) {
          <div class="w-100 text-end">
            <app-panel (newItemEvent)="onExtresChange($event)"></app-panel>
          </div>
          }
        </div>
        <div class="text-end mt-4 p-2">
          <h2>Preu pressupostat: {{ pressupostTotal }}</h2>
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-12 general2">
      <form [formGroup]="usuariForm">
        <div class="border rounded-3 p-4  shadow-lg d-flex justify-content-between align-items-center flex-wrap w-100">
          <div class="w-100 mb-3">
            <h3>Demanar pressupost</h3>
          </div>
          <div class="form-group flex-fill me-3 mb-3 position-relative">
            <input class="form-control" type="text" formControlName="nom" id="inputNom" placeholder="nom"
              [class.is-invalid]="usuariForm.controls.nom.touched && usuariForm.controls.nom.invalid"
              [class.is-valid]="usuariForm.controls.nom.valid">

            @if (usuariForm.controls.nom.touched && usuariForm.controls.nom.invalid) {
            <div class="invalid-feedback form-group flex-fill position-absolute bottom-2">
              @if (usuariForm.controls.nom.errors?.['required']) {
              <div>El camp nom és obligatori.</div>
              }
              @if (usuariForm.controls.nom.errors?.['minlength']) {
              <div>El nom ha de tenir mínim 3 caràcters.</div>
              }
            </div>
            }

          </div>
          <div class="form-group flex-fill me-3 mb-3 position-relative">
            <input class="form-control" type="number" formControlName="telefon" id="inputTelefon" maxlength="9"
              placeholder="telèfon"
              [class.is-invalid]="usuariForm.controls.telefon.touched && usuariForm.controls.telefon.invalid"
              [class.is-valid]="usuariForm.controls.telefon.valid">

            @if (usuariForm.controls.telefon.touched && usuariForm.controls.telefon.invalid) {
            <div class="invalid-feedback form-group flex-fill position-absolute bottom-2">
              @if (usuariForm.controls.telefon.errors?.['required']) {
              El camp telèfon és obligatori.
              }
              @if (usuariForm.controls.telefon.errors?.['pattern']) {
              El camp telèfon ha de tenir 9 dígits.
              }

            </div>
            }
          </div>
          <div class="form-group flex-fill me-3 mb-3 position-relative">
            <input class="form-control" type="text" formControlName="email" id="inputEmail" placeholder="email"
              [class.is-invalid]="usuariForm.controls.email.touched && usuariForm.controls.email.invalid"
              [class.is-valid]="usuariForm.controls.email.valid">

            @if (usuariForm.controls.email.touched && usuariForm.controls.email.invalid) {
            <div class="invalid-feedback form-group flex-fill position-absolute bottom-2">
              @if (usuariForm.controls.email.errors?.['required']) {
              El camp email és obligatori.
              }
              @if (usuariForm.controls.email.errors?.['pattern']) {
              Introdueix un correu vàlid.
              }

            </div>
            }
          </div>
          <div class="form-group d-flex align-items-center mb-3">
            <button type="submit" class="btn btn-success rounded-2" (click)="guardarPressupost()">Sol.licitar <svg
                xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right"
                viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                  d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8" />
              </svg></button>
          </div>
        </div>
      </form>
    </div>
    <div class="row text-center">
      <div class="col-12 text-center">
        <hr class="mx-auto" />
      </div>
    </div>
  </div>
  <app-budgets-list></app-budgets-list>
</div>