<!-- <div class="collapse" id="collapseExample"> -->
<div class="card card-body">
  <div>
    <label for="pages">Número de pàgines</label>
    <button type="button" class="btn btn-outline-secondary btn-round">−</button>
    <button type="button" class="btn btn-outline-secondary btn-round">+</button>
  </div>
  <div>
    <label for="pages">Número de llenguatges</label>
    <button type="button" class="btn btn-outline-secondary btn-round">−</button>
    <input
      type="number"
      id="pages"
      formControlName="cantidadPaginas"
      min="1"
      value="1"
      class=""
    />
    <button type="button" class="btn btn-outline-secondary btn-round">+</button>
  </div>
</div>
<!-- </div> -->
