<!-- <div class="collapse" id="collapseExample"> -->
<div class="card card-body">
  <div class="d-flex justify-content-between align-items-center">
    <label for="pages">Número de pàgines</label>
    <div class="d-flex justify-content-end align-items-center">
      <button type="button" class="btn btn-outline-secondary btn-round">
        −
      </button>
      <input
        type="number"
        id="pages"
        formControlName="cantidadPaginas"
        min="1"
        value="1"
        class="form-control"
        style="width: 50px"
      />
      <button type="button" class="btn btn-outline-secondary btn-round">
        +
      </button>
    </div>
  </div>

  <div class="card card-body">
    <div class="d-flex justify-content-between align-items-center"></div>
    <label for="pages">Número de llenguatges</label>
    <div class="d-flex justify-content-end align-items-center">
      <button type="button" class="btn btn-outline-secondary btn-round">
        −
      </button>
      <input
        type="number"
        id="llenguatges"
        formControlName="quantitatllenguatges"
        min="1"
        value="1"
        class="form-control"
        style="width: 50px"
      />
      <button type="button" class="btn btn-outline-secondary btn-round">
        +
      </button>
    </div>
  </div>
</div>
<!-- </div> -->
